<!-- 基于disqus设置评论区 -->
<style>
    a.dsq-brlink{
        word-break: break-all;
        text-decoration: none;
        color: #337ab7;
        outline: none;
    }
    a.dsq-brlink:hover{
        color: #285f8f;
        text-decoration: underline;
    }
</style>
<div class="comment container">
    <div id="disqus_thread"></div>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//giantzero-x.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink" target="_blank">Loading Disqus comments...</a>
</div>