<!-- 基于disqus设置评论区 -->
<div class="comment container">
    <div id="disqus_thread"></div>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//giantzero-x.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    正在加载 <a href="http://disqus.com" class="dsq-brlink" target="_blank">Disqus</a> 评论组件...(此组件需科学上网)
</div>