---
layout: default
comments: true
---
<style>
  body{
    background-image: url('/assets/img/bgImage/{% if page.bg %}{{ page.bg }}{% else %}{{ site.backgroundImage }}{% endif %}');"
  }
</style>
<article class="post container" id="article">
  <div class="post-meta">
    {% if page.date %}
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% endif %}
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: '，' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<!-- 返回顶部 -->
<div id="toTop">
  <a href="javascript:" title="返回顶部"> </a>
</div>

{% include share.html %}
{% include disqus.html %}
